.shop-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container{
    background: rgba(155, 135, 230, 0.453);
    position: sticky;
    bottom: 0;
}
@media only screen and (min-width: 768px){
    .phones-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
} 